body {
  overflow: hidden;
  margin: 0;
}

#canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  display: block;
}

#container {
  position: relative;
  margin: 20px auto;
}

#next-level {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  right: 30px;

  width: 64px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border-radius: 100%;

  animation: pulse 2s infinite;
}

#next-level:hover {
  box-shadow: 0 0 10px #fff;
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      box-shadow: 0 0 0 16px rgba(255,255,255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
