body {
  margin: 0;
}

#canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  display: block;
}

#container {
  position: relative;
  margin: 20px auto;
}

#title {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 30px;

  font-size: 40px;
  font-family: monospace;
  color: #369da7;
  text-shadow: 0 1px 1px #2ceeff;

  transition: opacity 2s linear;
}

#next-level {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  right: 30px;

  width: 64px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border-radius: 100%;

  animation: pulse 2s infinite;
  transition: opacity 2s linear;
  opacity: 0;
}

#next-level:hover, #previous-level:hover {
  box-shadow: 0 0 10px #fff;
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      box-shadow: 0 0 0 16px rgba(255,255,255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}

#previous-level {
  position: absolute;
  z-index: 100;
  bottom: 30px;
  left: 30px;

  width: 64px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border-radius: 100%;

  transform: scale(-1,1);
  transition: opacity 2s linear;
  opacity: 0;
}

#end-screen {
  color: white;
  background-color: rgba(0,0,0,0.7);
  border-radius: 30px;

  box-sizing: border-box;
  text-align: center;
  padding: 24px;
  font-size: 24px;

  position: absolute;
  left: 180px;
  width: 600px;
  top: 135px;
  height: 250px;

  display: none;
}

#info {
  font-size: 18px;
  color: #fff;

  box-sizing: border-box;
  width: 960px;
  margin: auto;
  padding: 0 10px;
}

a {
  color: #ff8f8f;
}

footer {
  text-align: right;
  margin-top: 50px;
}
